html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.top-bar {
  background-color:rgb(166, 23, 255);
  display: flex;
  justify-content: space-between;
}
.main-content {
  display: flex;
  height: 90vh;
  
}
.left-bar {
  width: 10%;
  height: 100%;
  background-color: gray;
}
.right-bar {
  background-color: rgb(117, 110, 255);
  width: 90%;
}